.navbar {
	background-color: green;
	color: white;
}

.bg h1 {
	padding: 10px;
	width: fit-content;
	background-color: rgb(28, 0, 155);
	font-size: 60px;
	position: relative;
	color: white;
	top: 50%;
	left: 250px;
}

.wisata {
	margin-top: 40px;
	padding: 10px;
}
